body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(135deg, #62b8f5, #4475ef);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    transition: background 0.5s ease;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);;
    border-radius: 15px;
    box-shadow:  0 1.8em 3.7em rgba(3, 46, 87, 0.2);
    text-align: center;
    backdrop-filter: blur(0.5em);
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #444;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5477f5;
    color: white;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a5bbf;
}

.weather-info {
    margin-top: 20px;
    
}

.weather-info h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.weather-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #302f2f;
}

.weather-info i {
    font-size: 4em;
    margin-bottom: 10px;
    color: #333;
}
